[submodule "llama3"]
	path = llama3
	url = https://github.com/minjunes/llama3
[submodule "vit-pytorch"]
	path = vit-pytorch
	url = https://github.com/minjunes/vit-pytorch.git
[submodule "detr"]
	path = detr
	url = https://github.com/minjunes/detr.git
[submodule "EVA"]
	path = EVA
	url = https://github.com/minjunes/EVA.git
